body {
    margin-bottom: 60px;
}

html {
    position: relative;
}

.page {
    display: flex;
    width: 100%;
    max-width: 72em;
    min-width: 60em;
    margin: 15px auto;
    min-height: 90vh;
}

.home-link {
    text-decoration: none;
    color: black;
}

.home-link:hover {
    text-decoration: none;
    color: #c71c12;
}

.page #primary {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page #primary #content {
    flex-grow: 1;
    margin: 14px;
    padding: 1em;
}

#content h1 {
    color: #c71c12;
    text-align: center;
}

#content h2 {
    text-align: center;
}

#page-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#page-menu .menu-item {
    flex-grow: 1;
    min-width: 20em;
    flex-basis: 0;
    text-align: center;
}

.entry-locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.entry-locations .location {
    padding: 2em;
}

.location address {
    margin-bottom: 0;
}

.sponsor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sponsor-list img.sponsor {
    margin: 1em;
}

img.sponsor {
    max-width: 240px;
}

.sponsor-carousel {
    height: 240px;
    position: relative; /* to give a reference for the absolute position below */
}

.sponsor-carousel .element {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.sponsor-carousel .element img {
    margin: auto auto;
    max-height: 240px;
    transition: opacity 1s;
}

.page #primary #footer {
    flex-grow: 0;
    margin: 14px;
    padding: 1em;
    flex-basis: 1.5em;
}

.page #sidebar {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 228px; /* 200px + 2 x margin */
    min-width: 228px;
    max-width: 228px;
}

.page #sidebar #contest-info {
    background-color: #815205;
    flex-grow: 1;
    padding: 1em;
    margin: 14px;
    color: white;
    overflow: clip;
}

#sidebar p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#contest-info p {
    margin: 4em 0px;
}

#judging-info p {
    margin: 2em 0px;
}

.page #sidebar #juding-info {
    background-color: #c71c12;
    flex-grow: 0;
    flex-basis: 200px;
    padding: 1em;
    margin: 14px;
    color: white;
}

.root img {
    display: block;
    margin: 0px auto;
}
