.overlay {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: white;
}

.carousel {
    position: static;
}

.sponsor {
}

.sponsor.carousel-prev {
    display: none;
}

.sponsor.carousel-current {
}

.sponsor.preload {
    display: none;
}

.sponsor-image {
    min-width: 480px;
    max-width: 720px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sponsor-name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel-enter {
    opacity: 0.01;
    z-index: 1020;
}

.carousel-enter-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.carousel-leave {
    opacity: 1;
    z-index: 1010;
}

.carousel-leave-active {
    opacity: 0.01;
    transition: opacity .3s ease-in;
}
